.au-icon{
  --au-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--au-icon-color);
  font-size: inherit;
}

@each $val in (primary, success, warning, info, danger){
  .au-icon--#{$val}{
    --au-icon-color: var(--au-color-#{$val});
  }
}