.au-tree {
  font-size: var(--au-font-size-base);
  color: var(--au-text-color-regular);
  background-color: var(--au-bg-color);
  padding: 4px 0;
  list-style: none;

  .au-tree-node {
    position: relative;
    white-space: nowrap;
    outline: none;
    padding: 0;
    cursor: pointer;
    transition: background-color var(--au-transition-duration);

    &__label {
      display: inline-flex;
      align-items: center;
      height: 28px;
      padding: 0px 6px;
      margin-top: 28px;
      border-radius: var(--au-border-radius-base);
      transition: all var(--au-transition-duration);
      color: var(--au-text-color-regular);

      &:hover {
        background-color: var(--au-fill-color-light);
        color: var(--au-color-primary);
      }

      &.is-disabled {
        color: var(--au-text-color-disabled);
        cursor: not-allowed;

        &:hover {
          background-color: transparent;
          color: var(--au-text-color-disabled);
        }
      }
    }

    &__toggle {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      font-size: 12px;
      border-radius: var(--au-border-radius-small);
      color: var(--au-text-color-secondary);
      transition: transform var(--au-transition-duration);
      cursor: pointer;

      &:hover {
        background-color: var(--au-fill-color-light);
        color: var(--au-color-primary);
      }
    }

    &__children-wrapper {
      // overflow: hidden;
      position: relative;
      overflow-y: auto; /* 关键点：容器内部滚动 */
      max-height: 300px; /* demo：可配置，保证虚拟滚动有效 */
      will-change: transform; /* 提升渲染性能，避免滚动卡顿 */
    }
     /* 占位容器 */
    &__spacer {
      height: 0;
      overflow: hidden;
    }

    &__children {
      margin-left: 16px;
      border-left: 1px dashed var(--au-border-color-lighter);
      padding-left: 8px;
      transition: height var(--au-transition-duration) ease-in-out;
    }

    &.is-selected > .au-tree-node__label {
      background-color: var(--au-color-primary-light-9);
      color: var(--au-color-primary);
      font-weight: var(--au-font-weight-primary);
    }
  }
}
